html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  overflow: hidden;

  background-color: #0066d3;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4da2f2;
}

#quiz {
  height: 80%;
  width: 800%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: margin-left 2s;
}

.question {
  width: 100%;
  height: 100%;
}

.question-content {
  text-align: center;
}

.prompt {
  font-size: 1.5em;
  height: 10%;
}

.tweet {
  font-size: 2em;
  height: 70%;
}

.buttons {
  height: 30%;
}

button {
  font-size: 2em;
  width: 8em;
}

/*Desktop Settings Here*/
@media (pointer: fine) {
  header > h1 {
    font-size: 5em;
  }

  .prompt {
    font-size: 3em;
  }

  .tweet {
    font-size: 3em;
  }

  button {
    font-size: 3em;
  }
}
