html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  overflow: hidden;

  background-color: #00d0ff;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00ffae;
}

header > h1 {
  /*Magic values, I don't understand*/
  font-size: calc(2vh + 2vw + 2vmin);
}

header > img {
  width: auto;
  height: 100%;
}

#quiz {
  height: 90%;
  width: 900%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: margin-left 2s;
}

.question {
  width: 100%;
  height: 100%;
}

.question-content {
  text-align: center;
}

.prompt {
  font-size: 1.5em;
  margin: 0;
  height: 20%;

  /*Magic values, I don't understand*/
  font-size: calc(2vh + 1.75vw + 1.25vmin);
}

.tweet {
  font-size: 2em;
  margin: 0;
  height: 50%;

  /*Magic values, I don't understand*/
  font-size: calc(2vh + 2vw + 2vmin);
}

.buttons {
  margin: 0;
  height: 30%;
}

button {
  font-size: 5vh;
  width: 8em;
}
